@model UserManagement.Web.Models.Users.AddUserViewModel

<h2>Add New User</h2>
<form asp-controller="Users" asp-action="AddUserViewModel" method="post">
    <div>
        <label>
            Forename:
            <input asp-for="Forename"  value="" />
        </label>
        <span asp-validation-for="@Model.Forename" class="text-danger"></span>
    </div>

    <div>
        <label>
            Surname
            <input asp-for="Surname" value="" />
        </label>
        <span asp-validation-for="@Model.Surname" class="text-danger"></span>
    </div>

    <div>
        <label>
            Email:
            <input asp-for="Email" value="" />
        </label>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>

    <div>
        <label>
            Date of Birth:
            <input asp-for="DateOfBirth" value="" />
        </label>
        <span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<script>
    jQuery.validator.addMethod("must-be-true", (_, element) => element.checked);
    jQuery.validator.unobtrusive.adapters.addBool("must-be-true");
</script>
